body {
    overflow-x: hidden;
    position: relative;
  }
  .blog-text {
    text-align: justify;
    line-height: 1.6;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
  .text-title {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    text-align: center;
  }
  .author {
    text-align: center;
  }
  .publish-time {
    text-align: center;
    color: #636e72;
  }
  .image-blog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
  .container-blog {
    justify-content: center;
  }
  .sub-titte {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .ig-link {
    font-size: 14px;
    font-family: Helvetica;
    text-decoration: none;
    color: #754c29;
  }
  